/* breadcrumb */
.breadcrumb{
  margin-left: 10px;
  margin-top: 20px;
}
.breadcrumb .bc1.active ~ .bc2,.bc3 {
  display: none; 
  
}
.breadcrumb .bc2.active{
  display: block;
}
.breadcrumb .bc2,.bc3.active{

  display: block;
}
/* popup div */
.popupdiv{
  margin-top: 10px;
}
/* close button */
.custom-popup button{
color: grey;
  background-color: rgba(105, 99, 99, 0.501);
 font-size: 20px;
 font-weight:bolder;
  border: none;
 right:0;
 position: absolute;
 text-align: center;
  border-radius: 0px 0px 0px 0px;
 
}
p{
  margin-left: 10px!important;
 padding: 0%!important;

}
/* popup_onclick_container */
.custom-popup{
  position: fixed;
border-radius:  0px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.697);
 top: 0;
 margin-top:42px ;  /* left:0; */
  right: 0;
  width: 200px;
  height:10000px;
  background-color:black;
  overflow: hidden;
  text-align: center;

  
  
}
#main {

  width: auto;
  /* height: 700px; */

}
.map-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 680px; */
  
  } 
  .mapexten a{

    /* color: rgb(159, 153, 153); */
    text-decoration: none;
    color:rgb(176, 164, 164);
    font-size:15px;
    font-family:monospace;
    font-weight:600;
  

  }
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  } 
  .mapexten{
    display: flex;
    flex-direction: column;
    padding: 13px;
     
  }

 li{
    color: rgb(159, 153, 153);
  }

a:active,a:hover{
    color:rgb(213, 232, 232);
  } 

