.navbar .nav-link.active {
    background-color: #3a3a3c;
  
    color:rgb(204, 204, 204);
    /* Active link background color */
 
  }
 
  
   
    
    /* Nav links text color */
    .navbar .nav-link {
      color:rgb(176, 164, 164);
      font-size:15px;
      font-family:monospace;
      font-weight:600;
    
    }
    .navbar .nav-link:hover{
      color: rgb(106, 108, 110);
    }
    /* Active nav link background color */
    .navbar.nav-link.active {
      background-color: #3a3a3c;
    
      color:rgb(204, 204, 204);
      /* Active link background color */
      border-top-right-radius: 20px;
    }
   
    
    .navbar .nav-link.active {
      color: rgb(216, 200, 200);
       
    }