/* Sidebar container */
.sidebar {
    position: fixed;
    top:46px;
    left: 0;
    bottom: 0;
    width: 250px; /* Adjust the width as needed */
    background-color:black; /* Dark background color */
    overflow-y: auto;
    width: 200px; /* Add scrollbar if content overflows */
  }
  
  /* Brand text color */
 
  
  /* Nav links text color */
  .sidebar .nav-link {
    color:grey;
  }
  .sidebar .nav-link:hover{
    color: rgb(106, 108, 110);
  }
  /* Active nav link background color */
  .sidebar .nav-link.active {
    background-color: #3b3b3c;
    border-left: 5-p; 
    color:rgb(210, 192, 192);/* Active link background color */
  }
  .sidebar .nav-link.active
  /* Active nav link text color */
  .sidebar .nav-link.active {
    color: rgb(216, 200, 200);
     /* Active link text color */
  }
  
  /* Add more custom styling as needed */
  